---
import HeroImge from "../../public/hero_holiday_2025__gg4r7ioqlj2i_mediumtall.jpg"
---

<a href="/#">
    <div class="relative bg-[#f5f5f7] h-[700px] overflow-hidden">
    <div class="relative justify-items-center ">
        <img 
            src={HeroImge.src} 
            alt="iPhone 17 Pro"  
            class="object-cover scale-110 translate-y-10" 
        />
        <div class="absolute inset-x-0 bottom-0 translate-y-5 flex flex-col items-center justify-center align-bottom text-center text-black ">
            <h2 class="text-5xl font-bold mb-4">Give something special.</h2>
            <p class="text-2xl mb-4">Find what they've been waiting for all year.</p>
            <button class="bg-[#0071e3] text-lg hover:bg-blue-600 cursor-pointer text-white py-2 px-8 rounded-full transition-colors">
                Shop gifts
            </button>
        </div>
    </div>
</div>
</a>
